.nav-controls {
  position: relative;
}

.nav-controls > div {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
}

.nav-controls > div > a {
  vertical-align: middle;
}

.center-content {
  text-align: center;
}

.unit-inactive {
    color: #b94a48;
}

.unit-active {
    color: #4abd48
}

.unit-delete {
    color: #4abd48
}

.color-red {
    color: #B94A48;
}

.upload-progress {
    margin-bottom: 10px;
    margin-top: 10px;
}
